.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.logo-loading-complete {
  height: 20vmin;
  transition: height 1s;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-loading-complete {
  height: 30vh;
  transition:  height 1s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table{
  margin: 10px auto;
}

.Stocks-price-cell {
  transition: background-color, color .5s;
  color: #000;
  background-color: #fff;
}

.Stocks-price-cell.decrease {
  background-color: #a11212;
  color: #fff;
}
.Stocks-price-cell.increase {
  background-color: #097a09;
  color: #fff;
}
